.App {
  font-family: sans-serif;
  text-align: center;
  width:100%; height:100%;
}
html, body {
  background-color: rgb(22, 22, 22);
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
canvas {
  display: block;
}

.overlayContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
}

img {
  border-radius: 8px;
  position: relative;
  z-index: 3;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 35%;
  animation: fadeIn 3s;
}

h1 {
  /* color: rgb(107, 160, 209); */
  color: rgb(241, 112, 112);
  font-family: playFair;
  font-size: 6vmax;
  text-align: center;
  width: 100%;
}

#firstName {
  position: absolute;
  display: block;
  z-index: 5;
  top: 5%;
  text-indent: 0vw;
  animation: slide-right 2s;
}

#lastName {
  position: absolute;
  display: block;
  text-indent: 0vw;
  z-index: 5;
  top: 12%;
  animation: slide-left 2s;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  color: rgb(150, 150, 255);
  font-family: playFair;
  width: 100%;
  text-align: left;
}

h2 {
  display: inline-block;
  padding-left: 3%;
}

@keyframes slide-left {
  from {
    text-indent: -150vw;
  }

  to {
    text-indent: 18vw;
  }
}

@keyframes slide-right {
  from {
    text-indent: 120vw;
  }

  to {
    text-indent: -5vw;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@font-face {
  font-family: dosis;
  src: url(Dosis-VariableFont_wght.ttf);
}

@font-face {
  font-family: playFair;
  src: url(PlayfairDisplay-VariableFont_wght.ttf);
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */